.header {
    max-width: 1800px;
    min-width: 500px;
    width: 90%;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #161616;
    margin: auto;
    display: flex;
    background-color: rgb(21, 53, 53);
}
.header_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}
.header_title {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.header_phrase {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: blue;
}
